<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title inertia>AdonisJS x Inertia x React</title>

{{--Pour le FOUC mais à voir s'y a mieux ?--}}
{{--  <script>--}}
{{--      if (localStorage.getItem('theme') === 'dark') {--}}
{{--        document.documentElement.classList.add('dark')--}}
{{--      }--}}
{{--  </script>--}}

  @viteReactRefresh()
  @inertiaHead()
  @vite(['inertia/app/app.tsx', `inertia/pages/${page.component}.tsx`])
</head>

<body class="transition-colors duration-500 dark:bg-red-400 dark:text-white">
  @inertia()
</body>

</html>
